 .card {
     margin-top: 30px;
     margin-bottom: 6px;
     height: 430px;
 }
 
 .imagen {
     height: 290px;
 }
 
 .bg-light {
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.603)
 }
 
 body {
     background-color: rgb(227, 228, 227);
     margin-bottom: 6%;
 }
 
 #footer {
     color: white;
     background-color: black;
     text-align: center;
     position: fixed;
     bottom: 0;
     width: 100%;
     height: 46px;
 }
 
 #footer a {
     color: lightgrey;
     font-size: 15px;
 }
 
 #footer a:hover {
     color: white;
 }
 
 .lastRow {
     margin-bottom: 3%;
 }